
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>Lorem ipsum dollor sit... Lorem ipsum dollor sit... Lorem ipsum dollor sit...
    Lorem ipsum dollor sit... Lorem ipsum dollor sit... Lorem ipsum dollor sit... Lorem ipsum dollor sit...
    Lorem ipsum dollor sit... Lorem ipsum dollor sit... Lorem ipsum dollor sit... Lorem ipsum dollor sit...
</p>
<img src="/images/create-proj-1.jpg" alt="Alternate Text" />
<span>Some text</span>

